<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>

<body>

    <div class="container">

        <div>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/board/index">Voxed</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu"
                        aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggleMobileMenu">
                    <ul class="navbar-nav  me-auto text-center">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li th:each="category : ${categories}">
                                    <a class="nav-link" th:text="${category.categoryName}" th:href="'/board/' + ${category.categoryName}"></a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="navbar-nav  text-center">
                        <li>
                            <a class="nav-link" href="#">Reglas</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Contacto</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Registrarse</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row g-1">
            <div class="col-sm-12 col-md-4 col-lg-2" th:each="post : ${posts}">
                <div class="card bg-dark text-white">
                    <img src="..." class="card-img" alt="..." height="194" width="194">
                    <div class="card-img-overlay">
                        <h5 class="card-title" th:text="${post.title}"></h5>
                        <p class="card-text" th:text="${post.created}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"> </script>
    <script th:src="@{/webjars/jquery/jquery.min.js}" ></script>
</body>
</html>